<div class="titleMain">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
<a href="/drones"> Click here to see drones! </a>
</div>
<style>
  body{ background-image: url('/images/drone-picture.jpg'); background-size:
  cover; background-repeat: no-repeat; }
</style>